
table {
	border-collapse:collapse;
	border: 2px solid #000;
}
td {
	border: 1px solid #000;
	width: 25px;
	height: 25px;
}
.color0 {
	background-color: grey;
}
.color1 {
	background-color: yellow;
}
.color2 {
	background-color: green;
}
.color3 {
	background-color: orange;
}
.color4 {
	background-color: red;
}
.color5 {
	background-color: brown;
}
.color6 {
	background-color: purple;
}
.color7 {
	background-color: pink;
}
.color8 {
	background-color: silver;
}
.color9 {
	background-color: gold;
}
.color10 {
	background-color: blue;
}
